/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.custom-separator {
  width: 5rem;
  height: 6px;
  border-radius: 1rem;
}

.veryLargeText{
  font-size: calc(1.8rem + .7vw)!important;
}


.largeText{
  font-size: calc(1.325rem + .7vw)!important;
}
.smallerText{
  font-size: calc(1.0rem + .4vw)!important;
  text-align:center;
}

.verySmallText{
  font-size: calc(0.8rem + .3vw)!important;
}
