<div class="container">
  <div>
    <ngb-toast class="fixed-bottom w-100 bg-dark text-white" *ngIf="!this.closePopup" [autohide]="false" (hidden)="deny()">
      <div class="text-start p-4 d-flex flex-column">
        <h4 class="veryLargeText">Cookies</h4>
        <p class="smallerText text-start">
          We use cookies to provide you with an optimal website experience. By continuing to use the website, you agree to the use of cookies.
          You can learn more about the cookies we use here: <a href="/datenschutz">Privacy Policy</a>
        </p>
        <div class="text-end">
          <button type="button" (click)="deny()" class="btn btn-outline-light mr-3 mx-2 smallerText" id="btnDeny">
              Deny
          </button>
          <button type="button" (click)="accept()" class="btn btn-light mx-2 smallerText" id="btnAccept">
              Accept
          </button>
      </div>
      </div>
    </ngb-toast>
  </div>
</div>
