<div class="container">
  <footer class="my-4 verySmallText">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#pricing" class="nav-link px-2 text-muted">Preise</a></li>
      <li class="nav-item"><a href="/impressum" class="nav-link px-2 text-muted">Impressum</a></li>
      <li class="nav-item"><a href="/datenschutz" class="nav-link px-2 text-muted">Datenschutz</a></li>
      <li class="nav-item"><a href="/aboutus" class="nav-link px-2 text-muted">Über uns </a></li>
      <li class="nav-item"><a href="JavaScript:void(0)" (click)="showCookieDialog()" class="nav-link px-2 text-muted">Cookies</a></li>
    </ul>
    <p class="text-center text-muted">Google Analytics Cookie Dialog for Angular 13</p>
  </footer>
</div>
